{% extends 'shop/utils/base.html' %}
{% load cloudinary %}
{% block content %}
  {% if items %}
    <section>
      <div>
        <a href="{% url 'shop-home' %}" role="button" class="contrast outline">Back to shop</a>
        <hr>
        <div class="cart__heading">
          <strong>Items: {{ order.get_item_count }}
            <br>
          Cart total: ${{ order.get_total }}</strong>
          <a href="{% url 'checkout' %}" role="button">Checkout</a>
        </div>
      </div>
    </section>
    <section>
      <div class="cart__table">
        {% for item in items %}
          <hr>
          <div class="cart__book">
            {% with item.book.image_preview as image %}
              {% cloudinary image loading="lazy" alt=item.book %}
            {% endwith %}
            <div>
              <hgroup>
                <h5>
                  <a href="{% url 'book-detail' item.book.slug %}">{{ item.book.name }}</a>
                </h5>
                <p>
                  <small>{{ item.book.author }}</small>
                </p>
              </hgroup>
              <strong>${{ item.book.price }}</strong>
              <div>
                <input autocomplete="false"
                       type="number"
                       min="1"
                       data-book="{{ item.book.id }}"
                       aria-label="Quantity"
                       name="quantity-{{ item.book.id }}"
                       value="{{ item.quantity }}"
                       class="change-item" />
                <button class="contrast update-item outline"
                        data-book="{{ item.book.id }}"
                        data-place="cart"
                        data-action="delete"
                        data-tooltip="Remove from cart"
                        data-placement="right">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       width="1.5em"
                       height="1.5em"
                       viewBox="0 0 24 24">
                    <path fill="currentColor" d="M10 2.25a.75.75 0 0 0-.75.75v.75H5a.75.75 0 0 0 0 1.5h14a.75.75 0 0 0 0-1.5h-4.25V3a.75.75 0 0 0-.75-.75zm0 8.4a.75.75 0 0 1 .75.75v7a.75.75 0 0 1-1.5 0v-7a.75.75 0 0 1 .75-.75m4.75.75a.75.75 0 0 0-1.5 0v7a.75.75 0 0 0 1.5 0z" />
                    <path fill="currentColor" fill-rule="evenodd" d="M5.991 7.917a.75.75 0 0 1 .746-.667h10.526a.75.75 0 0 1 .746.667l.2 1.802c.363 3.265.363 6.56 0 9.826l-.02.177a2.85 2.85 0 0 1-2.44 2.51a27 27 0 0 1-7.498 0a2.85 2.85 0 0 1-2.44-2.51l-.02-.177a44.5 44.5 0 0 1 0-9.826zm1.417.833l-.126 1.134a43 43 0 0 0 0 9.495l.02.177a1.35 1.35 0 0 0 1.157 1.191c2.35.329 4.733.329 7.082 0a1.35 1.35 0 0 0 1.157-1.19l.02-.178c.35-3.155.35-6.34 0-9.495l-.126-1.134z" clip-rule="evenodd" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        {% endfor %}
      </section>
    {% else %}
      <div class="text center container">
        <h1>Your cart is empty</h1>
        <a href="{% url 'shop-home' %}" role="button">Start shopping</a>
      </div>
    {% endif %}
  {% endblock content %}
