{% extends "shop/utils/base.html" %}
{% block content %}
    <section id="checkout" class="checkout">
        <div class="checkout__grid container">
            <article class="checkout__form">
                <form action="" id="form">
                    <fieldset>
                        <legend>User informatinon</legend>
                        <div class="grid">
                            <input required name="first_name" placeholder="First name" value="{{ user.first_name }}">
                            <input required name="last_name" placeholder="Last name" value="{{ user.last_name }}">
                        </div>
                        <input required name="email" placeholder="Email" value="{{ user.email }}">
                        {% if not user.is_authenticated %}
                            <small>Or <a href="{% url 'login' %}?next={% firstof request.path '/' %}">Log in</a> instead</small>
                        {% endif %}
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Shipping details</legend>

                        <input required name="adress" placeholder="Adress">
                        <div class="grid">
                            <input required name="city" placeholder="City">
                            <input required name="country" placeholder="Country">
                        </div>
                        <input required name="postal_code" placeholder="Postal code">
                    </fieldset>
                    <hr>
                    <button type="submit" id="form-button">Continue</button>
                </form>
            </article>
            <article class="checkout__summary">
                <header>
                    <a href="{% url 'cart' %}" role="button" class="contrast outline">Back to Cart</a>
                    <hr>
                    <h3>Order summary</h3>
                    <hr>
                    <div class="space-between">
                        <p>Items:</p>
                        <p>{{ cart_items }}</p>
                    </div>
                    <div class="space-between">
                        <p>TOTAL:</p>
                        <p>${{ cart_total }}</p>
                    </div>
                </header>
                <div>
                    {% for item in items %}
                        <div class="checkout__item flex">
                            <img src="{{ item.book.image.url }}" alt="">
                            <div>
                                <hgroup>
                                    <p>{{ item.book.name }}</p>
                                    <p><small>{{ item.book.author }}</small></p>
                                </hgroup>
                                <div class="space-between">
                                    <ins><strong>${{ item.book.price }}</strong></ins>
                                    <span>× {{ item.quantity }}</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </article>
            <article id="payment-info" class="hidden">
                Pay me!
                <button id="make-payment">Make payment</button>
            </article>
        </div>
    </section>
    <script>
        const form = document.getElementById('form')
        const total = '{{ cart_total }}'

        form.addEventListener('submit', (e) => {
            e.preventDefault()
            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
            document.getElementById('payment-info').scrollIntoView({behavior: 'smooth'});
        })

        document.getElementById('make-payment').addEventListener('click', () => {
            submitFormData()
        })

        function submitFormData() {
            console.log('Payment button clicked')

            var userFormData = {
                'first_name': null,
                'last_name': null,
                'email': null,
                'total': total
            }

            if (user == 'AnonymousUser') {
                userFormData.first_name = form.first_name.value
                userFormData.last_name = form.last_name.value
                userFormData.email = form.email.value
            }

            var shippingInfo = {
                'adress': form.adress.value,
                'city': form.city.value,
                'country': form.country.value,
                'postal_code': form.postal_code.value
            }

            const url = '/process_order/'

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'form': userFormData,
                    'shipping': shippingInfo
                })
            })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                alert('Transaction completed')
                window.location.href = "{% url 'shop-home' %}"
            })
        }
    </script>
{% endblock content %}
