{% extends "shop/utils/base.html" %}
{% block content %}
  <section id="checkout" class="checkout">
    <div class="checkout__grid container">
      <article class="checkout__form">
        <form id="form">
          {% csrf_token %}
          <fieldset>
            <legend>
              <strong>User informatinon</strong>
            </legend>
            <div class="grid">
              <label for="first_name">
                First name
                <input required
                       type="text"
                       name="first_name"
                       placeholder="First name"
                       value="{{ user.first_name }}"
                       autocomplete="given-name">
              </label>
              <label for="last_name">
                Last name
                <input required
                       type="text"
                       name="last_name"
                       placeholder="Last name"
                       value="{{ user.last_name }}"
                       autocomplete="family-name">
              </label>
            </div>
            <input required
                   type="email"
                   name="email"
                   placeholder="Email"
                   value="{{ user.email }}"
                   autocomplete="email">
          </fieldset>
          <hr>
          <fieldset>
            <legend>
              <strong>Shipping details</strong>
            </legend>
            <label for="adress">
              Adress
              <input required
                     type="text"
                     name="adress"
                     placeholder="Adress"
                     autocomplete="shipping street-address">
            </label>
            <div class="grid">
              <label for="city">
                City
                <input required
                       name="city"
                       placeholder="City"
                       autocomplete="shipping address-level2">
              </label>
              <label for="country">
                Country
                <input required
                       name="country"
                       placeholder="Country"
                       autocomplete="shipping country-name">
              </label>
            </div>
            <label for="postal_code">
              Postal code
              <input required
                     name="postal_code"
                     placeholder="Postal code"
                     autocomplete="shipping postal-code">
            </label>
          </fieldset>
          <hr>
          <button type="submit" id="form-button">Continue</button>
        </form>
      </article>
      <article class="checkout__summary">
        <header>
          <a href="{% url 'cart' %}" role="button" class="contrast big outline">Back to Cart</a>
          <hr>
          <h3>Order summary</h3>
          <hr>
          <div class="space-between">
            <p>
              <strong>Items:</strong>
            </p>
            <p>{{ order.get_item_count }}</p>
          </div>
          <div class="space-between">
            <p>
              <strong>TOTAL:</strong>
            </p>
            <p>${{ order.get_total }}</p>
          </div>
        </header>
        <div>
          {% for item in items %}
            <div class="checkout__item flex">
              {% with item.book.image_preview as image %}
                <img width="{{image.width}}"
                     height="{{image.height}}"
                     src="{{ image.url }}"
                     alt="">
              {% endwith %}
              <div>
                <hgroup>
                  <p>{{ item.book.name }}</p>
                  <p>
                    <small>{{ item.book.author }}</small>
                  </p>
                </hgroup>
                <div class="space-between">
                  <ins><strong>${{ item.book.price }}</strong></ins>
                  <span>× {{ item.quantity }}</span>
                </div>
              </div>
            </div>
            <hr>
          {% endfor %}
        </div>
      </article>
      <article id="payment-info" class="hidden">
        <script src="https://www.paypal.com/sdk/js?client-id=ASnf1xj7m6fBt2IPaTnhDHmn80dgoloGoLJWdRr1xnod-DJFSJLT7c-vTROa78M-agayZM9lMotBSMxD&currency=USD&intent=capture"></script>
        <div id="paypal-button-container"></div>
      </article>
    </div>
  </section>
  <script>
        const total = '{{ order.get_total }}'
        const form = document.getElementById('form')

        csrftoken = form.getElementsByTagName('input')[0].value

        paypal.Buttons({
          style: {
            layout: 'vertical',
            color:  'white',
            shape:  'rect',
            label:  'paypal'
          },
          createOrder: function (data, actions) {
            return actions.order.create({
                intent: "CAPTURE",
                purchase_units: [
                    {
                        amount: {
                            value: total,
                        },
                    },
                ],
            })
          },
          onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                submitFormData()
            })
          },
        }).render('#paypal-button-container');

        form.addEventListener('submit', (e) => {
            e.preventDefault()
            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
            document.getElementById('payment-info').scrollIntoView({behavior: 'smooth'});
        })

        function submitFormData() {

            var userFormData = {
                'first_name': form.first_name.value,
                'last_name': form.last_name.value,
                'email': form.email.value,
                'total': total
            }

            var shippingInfo = {
                'adress': form.adress.value,
                'city': form.city.value,
                'country': form.country.value,
                'postal_code': form.postal_code.value
            }

            const url = '/process_order/'

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'form': userFormData,
                    'shipping': shippingInfo
                })
            })
            .then((response) => response.json())
            .then((data) => {
                cart = {}
                document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/;'

                window.location.href = "{% url 'shop-home' %}"
            })
        }
  </script>
{% endblock content %}
