{% extends "shop/utils/base.html" %}
{% block content %}
    <section id="books" class="books">
        {% if books %}
            <div class="text container center">
                <h3>Your wishlist</h3>
            </div>
            {% include 'shop/utils/books.html' %}
        {% else %}
            <div class="container text center">
                <h1>Your wishlist is empty</h1>
                <a href="{% url 'shop-home' %}" role="button">Start shopping</a>
            </div>
        {% endif %}
    </section>
{% endblock content %}
