{% extends "shop/utils/base.html" %}
{% load cloudinary %}
{% block content %}
  <section id="books" class="books">
    {% if items %}
      <div class="text center container">
        <h3>Your wishlist</h3>
      </div>
      <div class="books__container">
        {% for item in items %}
          {% with book=item.book %}
            <div class="card">
              <button class="contrast update-item"
                      data-book="{{ book.id }}"
                      data-place="wishlist"
                      data-action="delete"
                      data-tooltip="Remove from wishlist">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="1.5em"
                     height="1.5em"
                     viewBox="0 0 24 24">
                  <path fill="currentColor" d="M10 2.25a.75.75 0 0 0-.75.75v.75H5a.75.75 0 0 0 0 1.5h14a.75.75 0 0 0 0-1.5h-4.25V3a.75.75 0 0 0-.75-.75zm0 8.4a.75.75 0 0 1 .75.75v7a.75.75 0 0 1-1.5 0v-7a.75.75 0 0 1 .75-.75m4.75.75a.75.75 0 0 0-1.5 0v7a.75.75 0 0 0 1.5 0z" />
                  <path fill="currentColor" fill-rule="evenodd" d="M5.991 7.917a.75.75 0 0 1 .746-.667h10.526a.75.75 0 0 1 .746.667l.2 1.802c.363 3.265.363 6.56 0 9.826l-.02.177a2.85 2.85 0 0 1-2.44 2.51a27 27 0 0 1-7.498 0a2.85 2.85 0 0 1-2.44-2.51l-.02-.177a44.5 44.5 0 0 1 0-9.826zm1.417.833l-.126 1.134a43 43 0 0 0 0 9.495l.02.177a1.35 1.35 0 0 0 1.157 1.191c2.35.329 4.733.329 7.082 0a1.35 1.35 0 0 0 1.157-1.19l.02-.178c.35-3.155.35-6.34 0-9.495l-.126-1.134z" clip-rule="evenodd" />
                </svg>
              </button>
              {% with book.image_preview as image %}
                {% cloudinary image class="card__image" loading="lazy" alt=book %}
              {% endwith %}
              <hgroup class="card__title">
                <p>{{ book.name }}</p>
                <p>{{ book.author }}</p>
              </hgroup>
              <small>
                <ins>${{ book.price }}</ins>
              </small>
              <a href="{{ book.get_absolute_url }}" class="card__link"></a>
            </div>
          {% endwith %}
        {% endfor %}
      </div>
    {% else %}
      <div class="text center container">
        <h1>Your wishlist is empty</h1>
        <a href="{% url 'shop-home' %}" role="button">Start shopping</a>
      </div>
    {% endif %}
  </section>
{% endblock content %}
