{% load cloudinary %}
<div class="{{ classes }} books__container ">
  {% for book in books %}
    <div class="card">
      {% if book.is_bestseller %}<div class="bestseller_badge">Best Seller</div>{% endif %}
      {% with book.image as image %}
        {% cloudinary image class="card__image" loading="lazy" alt=book %}
      {% endwith %}
      <hgroup class="card__title">
        <p>{{ book.name }}</p>
        <p>{{ book.author }}</p>
      </hgroup>
      <small>
        <ins>${{ book.price }}</ins>
      </small>
      <a href="{{ book.get_absolute_url }}" class="card__link"></a>
    </div>
  {% endfor %}
</div>
