{% extends 'shop/utils/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container text">
        <article>
            <header>
                <h3>{{ user.get_full_name }}</h3>
                <p>{{ user.email }}</p>
            </header>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <legend><strong>Profile Info</strong></legend>
                    {% if form.non_field_errors %}
                        <div class="alert alert-warning">{{ form.non_field_errors }}</div>
                    {% endif %}
                    <div class="grid">
                        <div>
                            {{ form.first_name.label_tag }}
                            {% render_field form.first_name|add_error_attr:"aria-invalid:true" placeholder="First name" %}
                            {% if form.first_name.errors %}
                              <small>
                                {{ form.first_name.errors }}
                              </small>
                            {% endif %}
                        </div>
                        <div>
                            {{ form.last_name.label_tag }}
                            {% render_field form.last_name|add_error_attr:"aria-invalid:true" placeholder="Last name" %}
                            {% if form.last_name.errors %}
                              <small>
                                {{ form.last_name.errors }}
                              </small>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        {{ form.email.label_tag }}
                        {% render_field form.email|add_error_attr:"aria-invalid:true" placeholder=form.email.label %}
                        {% if form.email.errors %}
                          <small>
                            {{ form.email.errors }}
                          </small>
                        {% endif %}
                    </div>
                </fieldset>
                <button type="submit" class="outline">Update</button>
            </form>
            <footer>
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="contrast">Log out</button>
                </form>
            </footer>
        </article>
    </div>
{% endblock content %}
