{% extends 'shop/utils/base.html' %}
{% block content %}
    <div class="text container">
        <h3>Contact creator</h3>
        <p><span class="no_touch">📧 </span>daniil.davtian@gmail.com</p>
        <p><span class="no_touch">📞 </span>+123 (45) 678 90 12<span class="no_touch"> (not really mine)</span></p>
        <p><span class="no_touch">🏠 </span><a href="https://sherlockh0.github.io/portfolio/">Homepage</a></p>
        <div class="socials">
            <a href="https://github.com/SherlockH0"><i class="social bi bi-github"></i></a>
            <a href="#"><i class="social bi bi-linkedin"></i></a>
        </div>
    </div>
{% endblock content %}
