{% extends "shop/utils/base.html" %}
{% load cloudinary %}
{% block content %}
  {% if books %}
    <section id="hero" class="hero">
      <div class="hero__grid">
        {% with display|first as book %}
          {% if book %}
            <div class="card">
              {% with book.image_preview as image %}
                {% cloudinary image class="card__image" loading="lazy" alt=book %}
              {% endwith %}
              <hgroup class="card__title">
                <p>{{ book.name }}</p>
                <p>{{ book.author }}</p>
              </hgroup>
              <a href="{{ book.get_absolute_url }}" class="card__link"></a>
            </div>
          {% endif %}
        {% endwith %}
        <div class="hero__heading">
          <hgroup class="hero__hgroup">
            <h1>Books for Every Chapter of Your&nbsp;Life</h1>
            <p>
              From childhood favorites to life-changing reads, we have something for every stage of your journey. Discover stories that resonate and books that become lifelong&nbsp;companions.
            </p>
          </hgroup>
          <div class="navbar__search">
            <form action="/" role="search">
              <input type="search"
                     id="search"
                     name="search"
                     placeholder="{{ random_book }}">
              <input type="submit" value="Search" />
            </form>
          </div>
        </div>
        {% with display.1 as book %}
          {% if book %}
            <div class="card right">
              <hgroup class="card__title">
                <p>{{ book.name }}</p>
                <p>{{ book.author }}</p>
              </hgroup>
              {% with book.image_preview as image %}
                {% cloudinary image class="card__image" loading="lazy" alt=book %}
              {% endwith %}
              <a href="{{ book.get_absolute_url }}"
                 class="card__link"
                 title="Buy {{ book.name }}"></a>
            </div>
          {% endif %}
        {% endwith %}
      </div>
    </section>
    <hr>
    <section id="books" class="books">
      <hgroup>
        <h2>Bestsellers</h2>
        <p>Discover the most popular books loved by readers worldwide!</p>
      </hgroup>
      {% with bestsellers as books %}
        <div class="books__container large">
          {% for book in books %}
            <div class="card">
              {% with book.image as image %}
                {% cloudinary image class="card__image large" loading="lazy" alt=book %}
              {% endwith %}
              <hgroup class="card__title">
                <p>{{ book.name }}</p>
                <p>{{ book.author }}</p>
              </hgroup>
              <small>
                <ins>${{ book.price }}</ins>
              </small>
              <a href="{{ book.get_absolute_url }}"
                 class="card__link"
                 title="Buy {{ book.name }}"></a>
            </div>
          {% endfor %}
        </div>
      {% endwith %}
    </section>
    <hr>
    <section id="books" class="books">
      <hgroup>
        <h2>New Arrival</h2>
        <p>Explore the latest books fresh off the press!</p>
      </hgroup>
      {% include 'shop/utils/books.html' with books=books classes="space-evenly" %}
    </section>
  {% else %}
    {% include 'shop/utils/nothing.html' %}
  {% endif %}
{% endblock content %}
