{% extends "shop/base.html" %}
{% block content %}

	<section id="hero" class="hero">
		<div class="detail__wrapper">
			{% with books|first as book %}
				<div class="detail__cover hero">
					<img class="detail__image" src="{{ book.image.url }}" alt="">
				</div>
				<hgroup class="detail__title hero">
					<h1 class="detail__book-name">{{ book.name }}</h1>
					<h3>{{ book.author }}</h3>
				</hgroup>
				<div>
					<p class="detail__description hero">
						{{ book.about|linebreaksbr }}
					</p>
				</div>

				<div class="detail__buttons hero">
					<a href="{% url 'book-detail' book.id %}" role="button" class="outline">Buy now</a>
					<a href="#" role="button" class="secondary outline">See more</a>
				</div>
			{% endwith %}
		</div>
    </section>
    <hr>
    <section id="books" class="books">
    	<div class="books__title">
            <h3>New books</h3>
            <a href="#">See more</a>
    	</div>
    	{% include 'shop/books.html' with books=books|slice:"1:" %}
    </section>

{% endblock content %}
